<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table_project (boardTitle, boardWriter, boardContents) values (#{boardTitle}, #{boardWriter}, #{boardContents})
    </insert>
    <select id="findAll" resultType="board">
        select * from board_table_project
    </select>
    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table_project where id=#{id}
    </select>
    <update id="updateHits" parameterType="Long">
        update board_table_project set boardHits = boardHits + 1 where id=#{id}
    </update>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table_project order by id desc limit #{start}, #{limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(id) from board_table_project
    </select>
</mapper>