<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table_project (boardTitle, boardWriter, boardContents, fileAttached) values (#{boardTitle}, #{boardWriter}, #{boardContents}, #{fileAttached})
    </insert>
    <insert id="saveFile" parameterType="board">
        insert into board_file_table_project(originalFileName, storedFileName, boardId)
        values(#{originalFileName}, #{storedFileName}, #{id})
    </insert>
    <select id="findAll" resultType="board">
        select * from board_table_project
    </select>
    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table_project where id=#{id}
    </select>
    <select id="findByIdFile" parameterType="Long" resultType="board">
        select * from board_table_project b, board_file_table_project bf
        where b.id=bf.boardId and b.id=#{id}
    </select>
    <update id="updateHits" parameterType="Long">
        update board_table_project set boardHits = boardHits + 1 where id=#{id}
    </update>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table_project order by id desc limit #{start}, #{limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(id) from board_table_project
    </select>
    <update id="update" parameterType="board">
        update board_table_project set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>
    <delete id="delete" parameterType="board">
        delete from board_table_project where id=#{id}
    </delete>
    <select id="search" parameterType="java.util.HashMap" resultType="board">
        select * from board_table_project where ${type} like concat('%', #{q}, '%') order by id desc
    </select>
</mapper>