<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="saveMember" parameterType="member">
        insert into member_table_project(memberEmail, memberPassword, memberName, memberMobile) values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile})
    </insert>
    <select id="loginMember" resultType="member" parameterType="member">
        select * from member_table_project where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <select id="duplicate" parameterType="String" resultType="String">
        select memberEmail from member_table_project where memberEmail=#{memberEmail}
    </select>
</mapper>














